
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Serif:ital@0;1&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@media screen and (max-width: 786px) {
    body{
        margin: 0;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 100%;
        top: 0;
    }
    .logo{
        padding: 15px;
    }
    .dropdown{
        padding: 15px;
        margin-right: 15px; 
    }
    .desk{
        display: none;
    }
    .navi{
      padding: 2px;
      border: none;
      margin-bottom: -5px;
      width: 30px;
      background-color: black;
    }

    .blog-container {
        max-width: 900px;
        margin: 50px auto;
        padding: 20px;
        background-color: #F4ECFA;
    }
    .blog-post {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .blog-post h2 {
        margin-top: 0;
        color: #333;
    }
    .blog-post p {
        color: #666;
    }
    .read-more {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background: #6E00BE;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .read-more:hover {
        background: #d1361f;
    }

   
    footer{
        background-color: #1D1934;
        color: white;
        padding: 15px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (min-width: 787px) and (max-width: 999px) {
    body{
        margin: 0;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 100%;
        top: 0;
    }
    .logo{
        padding: 15px;
    }
    .dropdown{
        padding: 15px;
        margin-right: 15px; 
    }
    .desk{
        display: none;
    }
    .navi{
      padding: 2px;
      border: none;
      margin-bottom: -5px;
      width: 30px;
      background-color: black;
    }
    .blog-container {
        max-width: 900px;
        margin: 50px auto;
        padding: 20px 50px;
        background-color: #F4ECFA;
    }
    .blog-post {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .blog-post h2 {
        margin-top: 0;
        color: #333;
    }
    .blog-post p {
        color: #666;
    }
    .read-more {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background: #6E00BE;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .read-more:hover {
        background: #d1361f;
    }

   
    footer{
        background-color: #1D1934;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    .low{
        width: 60%;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}

@media (min-width: 1000px){
    body{
        margin: 0;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 100%;
        top: 0;
    }
    .logo{
        padding: 15px;
    }
    .dropdown{
        padding: 20px;
        margin-right: 15px; 
        display: none;
    }
    .desk{
        display: flex;
        width: 40%;
        justify-content: space-around;
    }
    .desk p:hover{
        color: #1D1934;
        font-weight: 800;
    }
    .navi{
      padding: 2px;
      border: none;
      margin-bottom: -5px;
      width: 30px;
      background-color: black;
    }
    .blog-container {
        max-width: 900px;
        margin: 50px auto;
        padding: 20px 50px;
        background-color: #F4ECFA;
    }
    .blog-post {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .blog-post h2 {
        margin-top: 0;
        color: #333;
    }
    .blog-post p {
        color: #666;
    }
    .read-more {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background: #6E00BE;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .read-more:hover {
        background: #d1361f;
    }

   
    footer{
        background-color: #1D1934;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    .low{
        width: 60%;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}