@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Serif:ital@0;1&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@media screen and (max-width: 786px) {
    body{
        background-color: #1D1934;
        padding: 20px;
        color: white;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    p:hover{
        font-weight: 900;
    }
    .access{
        margin-top: 50px;
        text-align: center;
    }
}