
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Serif:ital@0;1&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@media screen and (max-width: 786px) {
    body{
        margin: 0;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 100%;
    }
    .logo{
        padding: 15px;
    }
    .dropdown{
        padding: 15px;
        margin-right: 15px; 
    }
    .navi{
      padding: 2px;
      border: none;
      margin-bottom: -5px;
      width: 30px;
      background-color: black;
    }


    .first{
        background-color: #F4ECFA;
        padding: 100px 15px;
    }
    .jobs{
        background-color: white;
        padding: 10px;
    }
    .second{
        padding: 15px;
        text-align: center;
    }
    .third{
        padding: 15px;
        text-align: center;
    }
    .do{
        text-align: center;
    }

    footer{
        background-color: #1D1934;
        color: white;
        padding: 15px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .max{
        display: none;
    }
    .desk{
        display: none;
    }
}

@media screen and (min-width: 787px) and (max-width: 999px) {
    body{
        margin: 0;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 100%;
    }
    .logo{
        padding: 15px;
    }
    .dropdown{
        padding: 15px;
        margin-right: 15px; 
    }
    .navi{
      padding: 2px;
      border: none;
      margin-bottom: -5px;
      width: 30px;
      background-color: black;
    }


    .first{
        background-color: #F4ECFA;
        padding: 100px 15px;
    }
    .share{
        display: flex;
    }
    .jobs{
        background-color: white;
        padding: 10px;
        width: 40%;
        display: none;
    }
    .jobss{
        background-color: white;
        padding: 10px;
    }
    .second{
        padding: 15px;
        text-align: center;
    }
    .third{
        padding: 15px;
        text-align: center;
    }
    .do{
        text-align: center;
        display: flex;
    }

    footer{
        background-color: #1D1934;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    .low{
        width: 60%;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .desk{
        display: none;
    }
}

@media (min-width: 1000px){
    body{
        margin: 0;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 100%;
    }
    .logo{
        padding: 20px;
    }
    .dropdown{
        padding: 20px;
        margin-right: 15px; 
        display: none;
    }
    .desk{
        display: flex;
        width: 40%;
        justify-content: space-around;
    }
    .desk p:hover{
        color: #1D1934;
        font-weight: 800;
    }
    .navi{
      padding: 2px;
      border: none;
      margin-bottom: -5px;
      width: 30px;
      background-color: black;
    }


    .first{
        background-color: #F4ECFA;
        padding: 100px 50px;
    }
    .share{
        display: flex;
        justify-content: space-between;
    }
    .jobs{
        background-color: white;
        padding: 10px;
        width: 70%;
        height: fit-content;
        
    }
    .jobss{
        background-color: white;
        padding: 10px;
    }
    .max{
        width: 60%;
    }
    .second{
        padding: 20px;
        text-align: center;
    }
    .third{
        padding: 50px;
        text-align: center;
    }
    .do{
        text-align: center;
        display: flex;
    }

    footer{
        background-color: #1D1934;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    .low{
        width: 60%;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}

